.dateinfo {
    border: 1px solid black;
    font-weight: 700;
    padding: 14px;
    color: #a5a6bb;
    font-size: 15px;
}
.dateinfo h4 {
    font-weight: 700;
    color: $font-color;
}
.panel-title {
    font-weight: 700;
}
.calendar {
    .btn-group-sm > .btn,
    .btn-sm {
        padding: 5px 10px;
        font-style: 12px;
        border-color: #ccc;
        color: #333;
        letter-spacing: 0;
    }
}
.img-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-size: 20px;
}
.heading h4 {
    color: $font-color;
    font-weight: 700;
}
.img-holder {
    height: 215px;
    width: 100%;
    position: relative;
    margin: 13px 0;
}
.img-holder img {
    height: 215px;
}
.calendar .btn-sm {
    background-color: #e1e6eb;
}
.calendar .btn-group-sm > .btn {
    background-color: #fff;
}
.btn-sm strong {
    color: #44484c;
}
.btn-sm i {
    color: #9ca2a8;
}
.tableholder {
    .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }
}
.stat-done {
    border: 1px solid #57c059;
    display: inline-block;
    margin-top: 3px;
    padding: 9px 12px;
}
.stat-pending {
    border: 1px solid #f45b63;
    display: inline-block;
    margin-top: 5px;
    padding: 9px 12px;
}
.tableholder {
    font-weight: 700;
}
.done {
    color: #57c059;
}
.pending {
    color: #f45b63;
}
.btn-default.active:hover {
    color: #f45b63;
    background-color: #fff;
    border-color: #f45b63;
}
.calendar .btn-sm {
    font-weight: 500;
}
.tableholder p,
th {
    font-weight: 500;
    color: #a5a6bb;
}
.rating {
    color: #ffd203;
    font-size: 20px;
    text-align: center;
    span:focus {
        outline: 0;
    }
}
th {
    font-weight: 700;
}
.ext-detail {
    float: right;
    margin-right: 15px;
}
.match-property{
  color: $font-color;
}
.wraper{
  text-align: center;
}
.btn-pad{
  width: 100%;
}
.checkbox{
color:#ffd203;
}


//checkbox
.cust-check{
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 1px; top: 3px;
  width: 15px; height: 15px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '■';
  position: absolute;
  top:-5px; left: -1px;
  font-size: 32px;
  line-height: 0.8;
  color: #ffae00;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

}
.cust-check label{
  font-weight: 500;
}
.extra-amen{
  margin-top: 30px;
}
.col-border{
  border: 1px solid #aaafb8;
}
.attach{
  text-align: center;;
}
.btn-upload{
  margin: 0;
  padding: 9px 34px;
}
.property-content{
  border: 1px solid #aaafb8;
  padding: 10px;

}
.price-range{
  margin-bottom: 10px;
}
.bank-approval{
  margin-bottom: 10px;
}
.city-size{
  width: 60%;
}
.bank-name{
width: 200px;
}
