@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$bg-color: #e4ebf7 !default;
$btn-color: #ffae00 !default;
$font-color: #515974 !default;
$total-color: #a5a6bb !default;
$menutxt-color: #e4ebf7 !default;
$bottom-color: #0c1224 !default;
$page-color: #f2f6fc !default;
$city-border: #aaafb8 !default;
$font-family-sans-serif: "Noto+Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Noto+Sans", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    //padding-top: 70px;
    background-color: $bg-color;
    font-family: $font-family-sans-serif;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
.inline-block {
    display: inline-block;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.custom-checkbox {
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label {
        font-size: 16px;
        position: relative;
        &:before {
            content: "";
            width: 15px;
            height: 15px;
            display: block;
            position: absolute;
            top: 1px;
            transform: rotate(90deg);
        }
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        @include square(15px);
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid $font-color;
        border-radius: 4px;
        @include transition(all 300ms linear);
        &:after {
            content: "";
            @include square(9px);
            margin: 2px 0 1px 2px;
            display: block;
            border-radius: 2px;
            background-color: $font-color;
            opacity: 0;
            @include transition(all 300ms linear);
        }
    }
    input[type="checkbox"]:checked + label span {
        @include transition(all 300ms linear);
        &:after {
            opacity: 1;
            @include transition(all 300ms linear);
        }
    }
    input[type="checkbox"] + label span,
    input[type="checkbox"]:checked + label span {
        @include transition(all 0.4s linear);
        margin-right: 6px;
        margin-top: -4px;
    }
}
.checkbox-custom {
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label {
        font-size: 16px;
        position: relative;
        &:before {
            content: "";
            width: 15px;
            height: 15px;
            display: block;
            position: absolute;
            top: 1px;
            transform: rotate(90deg);
        }
    }
    input[type="checkbox"] + label span {
        display: inline-block;
        @include square(15px);
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid $total-color;
        border-radius: 4px;
        @include transition(all 300ms linear);
        &:after {
            content: "";
            @include square(9px);
            margin: 2px 0 1px 2px;
            display: block;
            border-radius: 2px;
            background-color: $font-color;
            opacity: 0;
            @include transition(all 300ms linear);
        }
    }
    input[type="checkbox"]:checked + label span {
        @include transition(all 300ms linear);
        &:after {
            opacity: 1;
            @include transition(all 300ms linear);
        }
    }
    input[type="checkbox"] + label span,
    input[type="checkbox"]:checked + label span {
        @include transition(all 0.4s linear);
        margin-right: 0;
    }
}
.panel-default > .panel-heading {
    background-color: $page-color;
    border-color: #e1e7f0;
    border-width: 2px;
}
.panel-title {
    color: $font-color;
}
.panel-body {
    background-color: $page-color;
}
.sidemenu {
    position: fixed;
    width: 213px;
    margin-top: -60px;
}
.page {
    margin-left: 233px;
    margin-right: 10px;
    padding: 15px 0 0;
}
.header-position {
    margin-left: 213px;
}
.btn {
    padding: 9px 46px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background-color: $btn-color;
    border-color: $btn-color;
    letter-spacing: 1px;
    &:hover {
        opacity: 0.80;
        background-color: $btn-color;
        border-color: $btn-color;
    }
    &:focus {
        background-color: $btn-color;
        border-color: $btn-color;
    }
    &:active {
        background-color: $btn-color;
        border-color: $btn-color;
        &:focus,
        &:hover {
            background-color: $btn-color;
            border-color: $btn-color;
        }
    }
}
.main-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-bg {
    background-color: white;
    h1 {
        color: $btn-color;
        letter-spacing: 1px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .form-control {
        width: 86%;
        height: 45px;
        font-size: 18px;
        border-color: #8a8a8a;
        &:focus {
            border-color: #8a8a8a;
        }
    }
    label {
        font-size: 16px;
        color: $font-color;
    }
    .btn {
        margin-top: 20px;
    }
    padding: 25px 60px 60px;
}
.nav-right {
    padding: 8px 20px;
}
.search {
    padding: 12px 20px;
    .fa {
        color: $font-color;
        width: 12px;
        font-size: 16px;
        font-weight: 300;
    }
    img {
        width: auto;
        height: 20px;
    }
}
.brokmenu {
    background-color: #252525;
    height: 100vh;
}
.top-nav {
    background-color: $page-color;
    width: 100%;
    height: 60px;
}
.nav-vertical {
    padding: 0;
}
::-webkit-input-placeholder{
  color:$font-color;
}
.searchsize {
    width: 50%;
    height: 35px;
    padding: 6px 7px;
    font-size: 18px;
    border: 0;
    font-weight: 300;
    background-color: $page-color;
    &:focus {
        outline: 0;
        border: 0;
    }
    color: $font-color;
}
.own-style {
    border-bottom: 2px solid $bottom-color;
    padding: 17px 20px;
    a {
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 1px;
        color: $menutxt-color;
        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
}
.img-user {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    vertical-align: middle;
    overflow: hidden;
}
.usrinfo {
    padding: 20px;
    border-bottom: 2px solid $bottom-color;
}
.usrname {
    vertical-align: middle;
    color: #e4ebf7;
    padding: 8px 14px;
    letter-spacing: 1px;
    h4 {
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 4px;
    }
}
.nav-wrapper {
    .nav {
        .nav-list li {
            padding: 12px 20px 10px;
        }
        a {
            color: $font-color;
            font-size: 16px;
            padding: 10px 20px;
            &:active,
            &:hover {
                background-color: transparent;
            }
        }
        .open > a {
            background-color: transparent;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            width: 100%;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            border: 0;
            display: block;
            li {
                position: relative;
                cursor: pointer;
                &:after {
                    content: '';
                    width: 5px;
                    background-color: #d98c00;
                    height: 48px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                &:hover {
                    cursor: pointer;
                    background-color: #f3bc3a;
                    padding: 12px 20px 10px;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .open > .dropdown-menu {
            display: none;
        }
        // .open > .dropdown-toggle .fa{
        //   color: $font-color;
        //
        // }
        .open > .dropdown-toggle .fa-chevron-down {
            transform: rotate(180deg);
            padding: 0 117px 0 0;
            font-size: medium;
        }
        img {
            width: 21px;
            height: auto;
            vertical-align: middle;
        }
        .submenu {
            color: $menutxt-color;
            padding: 0 14px;
            font-size: 18px;
            letter-spacing: 1px;
            vertical-align: initial;
        }
        .fa {
            color: $font-color;
            padding: 0 0 0 117px;
            font-size: medium;
        }
    }
}
.counts {
    border: 1px solid #aaafb8;
    height: 90px;
    margin-top: 30px;
}
.imagecount {
    background-color: #f3bc3a;
    width: 32%;
    height: 100%;
    vertical-align: middle;
}
.img-count {
    width: 100%;
    height: 100%;
    position: relative;
    img {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.count-detail {
    vertical-align: middle;
    padding-left: 15px;
    h4 {
        margin: 0;
        font-size: 30px;
        color: $font-color;
        font-weight: 200;
    }
    p {
        margin: 0;
        font-size: 14px;
        color: $total-color;
    }
}
.addcity {
    ul {
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
            .adddetail {
                border: 1px dashed #aaafb8;
                width: 175px;
                height: 150px;
                margin: 10px;
                text-align: center;
                position: relative;
            }
            .adddetails {
                border: 1px solid transparent;
                width: 175px;
                height: 150px;
                margin: 10px;
                position: relative;
                .editbtn {
                    position: absolute;
                    top: 5%;
                    left: 85%;
                    width: 20px;
                }
                h4 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: white;
                    font-size: 26px;
                    letter-spacing: 1px;
                    margin: 0;
                }
            }
            .addpost {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h4 {
                    margin: 10px 0 0;
                    font-size: 24px;
                    font-size: 24px;
                    letter-spacing: 1px;
                    color: $font-color;
                }
            }
            .img-city {
                img {
                    height: 150px;
                }
            }
            .img-plus {
                img {
                    margin: 0 auto;
                    width: 24px;
                }
            }
            .fa {
                font-size: 50px;
                margin: 24px 0;
            }
        }
    }
}
.city {
    position: relative;
    .form-control {
        width: 76%;
        border-color: $city-border;
    }
    .cityspace {
        margin: 42px 0;
    }
    label {
        color: $font-color;
    }
}
.city-img {
  width: 35%;
  height: 165px;
    border: 1px solid #aaafb8;
    margin: 46px auto 26px;
}
.btn-space {
    margin: 54px 30px 30px;
}
.close1 {
    img {
        width: 25px;
        position: absolute;
        top: -30px;
        right: 18px;
    }
}
.th {
    color: $font-color;
}
.marall {
    margin: 24px 12px 16px;
    label {
        color: $font-color;
        vertical-align: text-top;
        padding: 0;
        font-weight: normal;
    }
}
.checkbox {
    margin: -4px 5px;
    input[type="checkbox"] {
        margin: 3px 0;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    label {
        color: $font-color;
        vertical-align: text-top;
        padding: 0;
    }
}
.table > thead:first-child > tr:first-child > th {
    border-top: 2px solid #e1e7f0;
}
.table > thead > tr > th {
    border-color: #e1e7f0;
}
.table-hover > tbody > tr:hover {
    background-color: #e1e7f0;
}
td {
    color: $font-color;
    .fa {
        color: $font-color;
        font-size: 20px;
        font-weight: 100;
        padding: 0 2px;
    }
    i.fa.fa-pencil-square-o {
        vertical-align: bottom;
    }
}
.btn1 {
    padding: 9px 28px;
    margin-top: 12px;
    background-color: #f3bc3a;
    &:focus {
        outline: 0;
    }
    .fa {
        padding: 0 5px;
    }
}
.shows {
    margin: 10px 46px;
}
.category-list {
    .btns {
        font-size: 16px;
        color: $font-color;
        background-color: transparent;
        border-color: #e1e7f0;
        padding: 9px 20px;
        border-style: solid;
    }
}
.pagenumber {
    margin: 22px -12px 16px -25px;
    span {
        font-size: 16px;
        color: $font-color;
    }
}
.sidebtn {
    margin: 17px 12px 0;
    .fa {
        width: 30px;
        height: 30px;
        padding: 7px 0 0 8px;
        color: #515974;
        border: 2px solid #e1e7f0;
        border-radius: 100%;
        margin: 0 6px;
        cursor: pointer;
    }
}
.admindetail {
    background-color: #f3bc3a;
    width: 100%;
    height: 74px;
    .search {
        padding: 0 16px;
        margin: 18px 17px 18px 0;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: #f3ce75;
        .fa {
            color: #f5f9fd;
        }
        ::-webkit-input-placeholder{
          color:#f2f6fc;
        }
        .searchsize {
            width: 91%;
            color: #f2f6fc;
            background-color: transparent;
        }
    }
}
.submenu {
    color: #f2f6fc;
    padding: 8px 16px;
    font-size: 16px;
    letter-spacing: 1px;
}
.btn2{
  border-radius: 30px;
  padding: 4px 12px !important;
  border-color:$total-color !important;
}
.img-collapse{
      margin: 7px 12px 7px 0;
      img{
        width:14px;
      }
}
.img-cross{
  img{
    width:14px;
  }
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "rishabh";
