<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Property</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <label>Extra Ameneties</label>
                    <form action="#">
                        <p class="cust-check">
                            <input type="checkbox" id="test1" />
                            <label for="test1">Cross Ventilation</label>
                        </p>
                        <p class="cust-check">
                            <input type="checkbox" id="test2" checked="checked" />
                            <label for="test2">Intercome System</label>
                        </p>
                        <p class="cust-check">
                            <input type="checkbox" id="test3" checked="checked" />
                            <label for="test3">Wordrops</label>
                        </p>
                        <p class="cust-check">
                            <input type="checkbox" id="test4" />
                            <label for="test4">Broadband Connectivity</label>
                        </p>
                        <p class="cust-check">
                            <input type="checkbox" id="test5" />
                            <label for="test5">Wifi</label>
                        </p>
                        <p class="cust-check">
                            <input type="checkbox" id="test6" />
                            <label for="test6">Instant Gyser</label>
                        </p>
                    </form>
            </div>
            <div class="col-md-5 match-property">
                <div class="wraper">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Payment &amp PriceDetail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad btn-highlight">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label class="extra-amen">Ameneties</label>
        <div class="row">
            <form role="form" class="bf-form">
                <div class="col-md-3">
                            <p class="cust-check">
                                <input type="checkbox" id="test7" />
                                <label for="test7">Cross Ventilation</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test8" checked="checked" />
                                <label for="test8">Intercome System</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test9" checked="checked" />
                                <label for="test9">Wordrops</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test10" />
                                <label for="test10">Broadband Connectivity</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test11" />
                                <label for="test11">Wifi</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test12" />
                                <label for="test12">Instant Gyser</label>
                            </p>
                </div>
                <div class="col-md-3">
                            <p class="cust-check">
                                <input type="checkbox" id="test13" />
                                <label for="test3">Cross Ventilation</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test14" checked="checked" />
                                <label for="test14">Intercome System</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test15" checked="checked" />
                                <label for="test15">Wordrops</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test16" />
                                <label for="test16">Broadband Connectivity</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test17" />
                                <label for="test17">Wifi</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test18" />
                                <label for="test18">Instant Gyser</label>
                            </p>
                </div>
                <div class="col-md-3">
                            <p class="cust-check">
                                <input type="checkbox" id="test1" />
                                <label for="test1">Cross Ventilation</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test2" checked="checked" />
                                <label for="test2">Intercome System</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test3" checked="checked" />
                                <label for="test3">Wordrops</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test4" />
                                <label for="test4">Broadband Connectivity</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test5" />
                                <label for="test5">Wifi</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test6" />
                                <label for="test6">Instant Gyser</label>
                            </p>
                </div>
                <div class="col-md-3">
                            <p class="cust-check">
                                <input type="checkbox" id="test1" />
                                <label for="test1">Cross Ventilation</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test2" checked="checked" />
                                <label for="test2">Intercome System</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test3" checked="checked" />
                                <label for="test3">Wordrops</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test4" />
                                <label for="test4">Broadband Connectivity</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test5" />
                                <label for="test5">Wifi</label>
                            </p>
                            <p class="cust-check">
                                <input type="checkbox" id="test6" />
                                <label for="test6">Instant Gyser</label>
                            </p>
                </div>
                </form>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-button">
                <button class="btn btn6 btn-primary">Save</button>
                <button class="btn btn6 btn-primary">Cancel</button>
              </div>
            </form>
          </div>
        </div>
    </div>
