<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Property</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">

                <form role="form" class="bf-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Lead Source">Builder Name</label>
                                <input type="text" class="form-control" id="Source">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Project Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Locality</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Property Status/Type</label>
                                <div class="custom-select">
                                    <select class="form-control">
                                        <option>Residentail</option>
                                        <option>commercial</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Property Type</label>
                                <div class="custom-select">
                                    <select class="form-control">
                                        <option>Residentail</option>
                                        <option>commercial</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Lead Source</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Broker Lead</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Client Visited</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Posession Date</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Posession Price</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Stock</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>

                    <div class="form-button">
                        <button class="btn btn4 btn-primary">Save</button>
                        <button class="btn btn4 btn-primary">Cancel</button>
                    </div>

                </form>


                <!-- <div class="col-md-5">
                        <div class="ext-detail">
                            <button type="button" class="btn btn-default">More detail</button>
                        </div>
                        </div> -->
            </div>
            <div class="col-md-5 match-property">
                <div class="wraper">

                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Payment &amp PriceDetail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
