<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Log</h3>
    </div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-7">
              <form role="form" class="bf-form">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="sales-name">Sales Person Name</label>
                              <input type="text" class="form-control" id="Source">
                          </div>
                      </div>

                  </div>
                  <div class="row">


                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="c-name">Client Name</label>
                              <input type="text" class="form-control" id="time">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="Stat">Status</label>
                              <input type="text" class="form-control" id="time">
                          </div>
                      </div>

                  </div>
                  <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="fb-detail">Feedback Detail</label>
                                <textarea class="form-control boxsize" id="exampleTextarea" rows="7"></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="form-button pull-left">
                      <button class="btn btn4 btn-primary">Save</button>
                      <button class="btn btn4 btn-primary" ui-sref="lead">Cancel</button>
                  </div>
              </form>

              <!-- <div class="col-md-5">
                      <div class="ext-detail">
                          <button type="button" class="btn btn-default">More detail</button>
                      </div>
                      </div> -->

          </div>
          <!-- <div class="col-md-5 match-property">
              <label>Matching Property</label>
              <div class="row">
                  <div class="col-md-6">
                      <div class="img-holder" ui-sref="propertydetail">
                          <img src="img/mutha.jpg" alt="" class="img-responsive">
                          <div class="img-name">
                              <span class="text-uppercase">Mutha Tower</span>
                              <br>
                              <span class="text-uppercase">Andheri</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="img-holder" ui-sref="propertydetail">
                          <img src="img/mutha.jpg" alt="" class="img-responsive">
                          <div class="img-name">
                              <span class="text-uppercase">Mutha Tower</span>
                              <br>
                              <span class="text-uppercase">Andheri</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="img-holder" ui-sref="propertydetail">
                          <img src="img/mutha.jpg" alt="" class="img-responsive">
                          <div class="img-name">
                              <span class="text-uppercase">Mutha Tower</span>
                              <br>
                              <span class="text-uppercase">Andheri</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="img-holder" ui-sref="propertydetail">
                          <img src="img/mutha.jpg" alt="" class="img-responsive">
                          <div class="img-name">
                              <span class="text-uppercase">Mutha Tower</span>
                              <br>
                              <span class="text-uppercase">Andheri</span>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="wraper">
                  <button class="btn btn4 btn7 btn-primary" ui-sref="moreproperty">More Property</button>
              </div>
          </div> -->
      </div>
    </div>
