<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-7">

            <form role="form">
            <div class="row">
                <div class="col-md-6">
                          <div class="form-group">
              <label for="email">ID</label>
              <input type="email" class="form-control" id="email" placeholder="Enter ID">
                          </div>
                        </div>
                          <div class="col-md-6">
              <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                  </div>
                </div>
            </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><label for="">Mobile Number</label>
                                      <input type="text" class="form-control" id="Mobile">
                      </div>
                    </div>

                      <div class="col-md-6">
                          <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Address</label>
                          <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Enter Address"></textarea>
                        </div>
                      </div>
                        </div>
                        <!-- <div class="col-md-6">
                          <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" id="mobilenumber" placeholder="Enter mobile number">
                          </div> -->

                        </form>

                      </div>
                  <div class="col-md-5">
                  <div class="ext-detail">
                      <button type="button" class="btn btn-default">More detail</button>
                  </div>
                  </div>


                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <button type="button" class="btn btn-default">Save</button>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-default">Cancel</button>
                      </div>
                    </div>

                      </div>

</div>
