<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Builder</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id">Head Office Address</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Contact Person</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name">Phone Number</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="name">CP ID</label>
                              <input type="email" class="form-control" id="name">
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Email Id</label>
                                <input type="email" class="form-control" id="name">
                            </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control boxsize" id="exampleTextarea" rows="10"></textarea>
                    </div>
                    <div class="form-button">
                      <button class="btn btn4 btn-primary">Save</button>
                      <button class="btn btn4 btn-primary" ui-sref="builder">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6">
                  <div class="in-image upl-admin">
                      <div class="city-imgs">
                              <!-- <img src="img/mutha.jpg" alt="" class="img-responsive"> -->
                      </div>
                      <upload-image no-view></upload-image>
                  </div>
                </div>
                <div class="col-md-6">
                  <button class="btn btn1 btn-info pull-right addbtn" ui-sref="project">
                      Add Project<i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
