<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
              <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                          <img src="img/dashboard/worker.png" class="responsive" alt="">
                      </div>
                  </div>
                  <div class="count-detail inline-block">
                      <h4>2563</h4>
                      <p class="text-uppercase">total builder</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                          <img src="img/dashboard/broker.png" class="responsive" alt="">
                      </div>
                  </div>
                  <div class="count-detail inline-block">
                      <h4>2563</h4>
                      <p class="text-uppercase">total broker</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="counts">
              <div class="imagecount inline-block">
                <div class="img-count">
                  <img src="img/dashboard/stats.png" class="responsive" alt="">
                </div>
              </div>
              <div class="count-detail inline-block">
                <h4>2563</h4>
                <p class="text-uppercase">Monthly Lead</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counts">
              <div class="imagecount inline-block">
                <div class="img-count">
                  <img src="img/dashboard/stats.png" class="responsive" alt="">
                </div>
              </div>
              <div class="count-detail inline-block">
                <h4>2563</h4>
                <p class="text-uppercase">Weekly Lead</p>
              </div>
            </div>
          </div>
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/stats.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Total Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/stats.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Total Resale <br>Property</p>
                    </div>
                </div>
            </div>
        </div>

                </div>
            </div>
            <div class="panel panel-default table-dynamic">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">Lead Activity</h3>
                    <div class="img-cross pull-right">
                      <img src="img/cross.png" alt="" class="img-responsive">
                    </div>
                    <div class="img-collapse pull-right">
                      <img src="img/collapse.png" alt="" class="img-responsive">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                 <div class="pull-left">
                   <div class="category-list dropdown">
                       <button type="button" class="btns btn2 dropdown-toggle" data-toggle="dropdown">
                           Month <span class="fa fa-chevron-down"></span>
                       </button>
                       <!-- <ul class="dropdown-menu">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                       </ul> -->
                   </div>
                 </div>
                 <div class="pull-right">
                   <div class="category-list dropdown">
                       <button type="button" class="btns btn2 dropdown-toggle" data-toggle="dropdown">
                           Today
                       </button>
                       <!-- <ul class="dropdown-menu">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                       </ul> -->
                   </div>
                 </div>
            <div class="clearfix"></div>
                    <!-- <footer class="table-footer" ng-if="userdata.data.length>0">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                                <span>
                        Show
                        <select ng-model="pagedata.limit" ng-change="search();">
                          <option value="10" selected>10</option>
                          <option value="12">12</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        entries per page
                      </span>
                            </div>
                            <div class="col-md-6 text-right pagination-container">
                                <uib-pagination total-items="userdata.totalpages" ng-model="pagedata.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" ng-change="search();" items-per-page="pagedata.limit" ng-hide="userdata.totalpages==1"></uib-pagination>
                            </div>
                        </div>
                    </footer> -->
                </div>
