<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Images</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <div class="price-range">

                        <div class="property-content">
                            <div class="row">
                              <div class="col-md-4">
                                  <div class="ups-image slider">
                                      <label>Add Cover Image</label>
                                      <div class="city-imgs city-sizes city-fit">

                                          <!-- <img alt="" /> -->
                                      </div>

                                        <upload-image no-view></upload-image>

                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <div class="ups-image">
                                      <label>Add floor Image</label>
                                      <div class="city-imgs city-sizes city-fit">

                                          <!-- <img alt="" /> -->
                                      </div>
                                      <upload-image no-view></upload-image>
                                  </div>
                              </div>
                            </div>

                        </div>
                    </div>
        <div class="property-content price-range gallery">
                      <div class="bank-approval">
              <label>Add Slider Image</label>
              <div class="property-content">
          <div class="row">
            <div class="col-md-3">
              <div class="city-set image-set">
<!--
                <img src="img/mutha.jpg" alt="" class="img-responsive"> -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="city-set image-set">

                  <!-- <img alt="" /> -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="city-set image-set">

                  <!-- <img alt="" /> -->
              </div>
            </div>
            <div class="col-md-3">
            <div class="city-set image-set">

                <!-- <img alt="" /> -->
            </div>
            </div>

          </div>
  </div>
              </div>
              <upload-image no-view></upload-image>
        </div>
        <div class="property-content price-range gallery">
                      <div class="bank-approval">
              <label>Add Gallery Image</label>
              <div class="property-content">
          <div class="row">
            <div class="col-md-3">
              <div class="city-set image-set">
<!--
                <img src="img/mutha.jpg" alt="" class="img-responsive"> -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="city-set image-set">

                  <!-- <img alt="" /> -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="city-set image-set">

                  <!-- <img alt="" /> -->
              </div>
            </div>
            <div class="col-md-3">
            <div class="city-set image-set">

                <!-- <img alt="" /> -->
            </div>
            </div>

          </div>


              </div>
          </div>
          <upload-image no-view></upload-image>
        </div>
                    <div class="payment-info">






                        <div class="form-button">
                            <button class="btn btn4 btn-primary">Save</button>
                            <button class="btn btn4 btn-primary" ui-sref="editproperty">Cancel</button>
                        </div>
                    </div>

            </div>
            <div class="col-md-5 match-property">
                <div class="wraper">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="editmoredetail">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="editpaymentdetail">
                                    Payment &amp Price Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="editameneties">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad btn-highlight">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
