<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Lead</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Lead Source">Lead Source</label>
                                <input type="text" class="form-control" id="Source">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Lead Number</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Date</label>
                                <input type="Date" class="form-control" id="date">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="time">Time</label>
                                <input type="text" class="form-control" id="time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="time">Name</label>
                                <input type="text" class="form-control" id="time">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="time">Contact</label>
                                <input type="text" class="form-control" id="time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Registration Number</label>
                                <input type="text" class="form-control" id="regno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Registration Number</label>
                                <input type="text" class="form-control" id="regno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Client Type</label>
                                <div class="custom-select">
                                    <select class="form-control">
                                        <option>client</option>
                                        <option>client</option>
                                        <option>client</option>
                                        <option>client</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Assigned To</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Status</label>
                                <div class="custom-select">
                                    <select class="form-control">
                                        <option>stat</option>
                                        <option>stat</option>
                                        <option>stat</option>
                                        <option>stat</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Area</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Flat type</label>
                                <div class="custom-select">
                                    <select class="form-control">
                                        <option>1bk</option>
                                        <option>1bhk</option>
                                        <option>2bhk</option>
                                        <option>3bhk</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Carpet/Sealabel Area</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Budget</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Property Status</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Time Period</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="reg">Last Update</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Property To Be Shown</label>
                                <textarea class="form-control boxsize" id="exampleTextarea" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control boxsize" id="exampleTextarea" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <div class="col-md-5">
                        <div class="ext-detail">
                            <button type="button" class="btn btn-default">More detail</button>
                        </div>
                        </div> -->
            </div>
            <div class="col-md-5 match-property">
                <label>Matching Property</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-holder">
                            <img src="img/mutha.jpg" alt="" class="img-responsive">
                            <span class="img-name text-uppercase">Mutha Tower Andheri</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-holder">
                            <img src="img/mutha.jpg" alt="" class="img-responsive">
                            <span class="img-name text-uppercase">Mutha Tower Andheri</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-holder">
                            <img src="img/mutha.jpg" alt="" class="img-responsive">
                            <span class="img-name text-uppercase">Mutha Tower Andheri</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-holder">
                            <img src="img/mutha.jpg" alt="" class="img-responsive">
                            <span class="img-name text-uppercase">Mutha Tower Andheri</span>
                        </div>
                    </div>
                </div>

                <div class="wraper">
                    <button class="btn btn4 btn-primary">More Detail</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-button pull-left">
                    <button class="btn btn4 btn-primary">Save</button>
                    <button class="btn btn4 btn-primary">Cancel</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-button pull-right">
                    <button class="btn btn4 btn-primary btn-padd">Lead Log</button>
                    <button class="btn btn4 btn-primary btn-padd">New Meeting</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Lead Log Detail</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="head">
                    <p>Jan 26, 2016</p>
                </div>
                  <div class="log">
                      <p class="padd">Chintan Shah</p>
                      <div class="row">
                          <div class="col-md-3">
                              <div class="padd time">
                                  <span>10:40 AM</span>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="padd event">
                                  <h4>Had a Meeting With Sohan</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptate aspernatur repellat dolor debitis dolorum, ducimus, odio asperiores, excepturi id maxime voluptatem vel atque quae quisquam aliquam eaque harum alias.</p>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-md-3">
                              <div class="padd time">
                                  <span>10:40 AM</span>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="padd event">
                                  <h4>Had a Meeting With Sohan</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptate aspernatur repellat dolor debitis dolorum, ducimus, odio asperiores, excepturi id maxime voluptatem vel atque quae quisquam aliquam eaque harum alias.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
        </div>
    </div>
    </div>

    <div class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <h3 class="panel-title">New Meeting</h3>
        </div>
        <div class="panel-body">

        </div>
    </div>
