<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Employee</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                      </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Mobile">Mobile Number</label>
                                <input type="tel" class="form-control" id="Mobile">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pwd">Password</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control boxsize" id="exampleTextarea" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="btn btn4 btn-primary">Save</button>
                        <button class="btn btn4 btn-primary" ui-sref="employee">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
              <div class="ext-detail">
                  <button type="button" class="btn btn-primary" ui-sref="empcalendar">More Detail</button>
              </div>
            </div>
        </div>
    </div>
</div>
