<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Employee More Detail</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/stats.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Total Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/stats.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Monthly Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/stats.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Weekly Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/stats.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">Lead Closed</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Schedule</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="calendar" style="display:inline-block; min-height:290px;">
                    <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                </div>
            </div>
            <div class="col-md-8">
                <div class="heading">
                    <h4>Thursday 23rd 2016</h4>
                </div>
                <div class="dateinfo">
                    <h4>Meeting with Tushar Sachde</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestiae assumenda consequuntur at illo officiis laudantium! Consequatur</p>
                    <h4 class="time">Time: 3:00pm</h4>
                    <form role="form" class="bf-form">
                      <h4>Client Requirement</h4>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Area</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Property Status</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Carpet/Sales Area</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Budget</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                          <label for="id">Time Period</label>
                          <input type="text" class="form-control" id="id">
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Floor Preference</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="name">Location</label>
                            <input type="text" class="form-control" id="name">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="name">Last Update</label>
                            <input type="text" class="form-control" id="name">
                          </div>
                        </div>
                      </div>
                      <h4>Ameneties</h4>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Swimming Pool</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Exust Fan</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                          <label for="id">Temple</label>
                          <input type="text" class="form-control" id="id">
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                        <div class="form-group">
                          <label for="id">Garden</label>
                          <input type="text" class="form-control" id="id">
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                          <label for="id">Parking</label>
                          <input type="text" class="form-control" id="id">
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="id">Hospital</label>
                            <input type="text" class="form-control" id="id">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Gym</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Certified Tiles</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        </div>
                      </div>
                      <h4>Status</h4>
                      <p>Waiting for call</p>
                      <p>Meeting at Andheri</p>
                      <div class="form-button">
                        <button class="btn btn6 btn-primary">Save</button>
                        <button class="btn btn3 btn-primary" ui-sref=" editemployee">Cancel</button>
                      </div>
                    </form>
                    <h4>Matching Property</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-holder" ui-sref="propertydetail">
                                <img src="img/mutha.jpg" alt="" class="img-responsive">
                                <div class="img-name">
                                    <span class="text-uppercase">Mutha Tower</span>
                                    <br>
                                    <span class="text-uppercase">Andheri</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-holder" ui-sref="propertydetail">
                                <img src="img/mutha.jpg" alt="" class="img-responsive">
                                <div class="img-name">
                                    <span class="text-uppercase">Mutha Tower</span>
                                    <br>
                                    <span class="text-uppercase">Andheri</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
