<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Employee</h3>
    </div>
    <div class="admindetail">
        <h3 class="submenu pull-left">Employee Detail</h3>
        <div class="search pull-right">
            <span><i class="fa fa-search"></i></span>
            <input type="text" class="searchsize" name="name" placeholder="Search...">
        </div>
    </div>
    <div class="panel-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-9">
                <div class="marall custom-checkbox pull-left">
                    <input type="checkbox" id="all">
                    <label for="all"><span></span>All</label>
                </div>
                <div class="sidebtn pull-right">
                    <i class="fa fa-chevron-left"></i>
                    <i class="fa fa-chevron-right"></i>
                </div>
                <div class="pagenumber pull-right">
                    <span>1-50</span>
                    <span>of</span>
                    <span>471</span>
                </div>
                <div class="shows pull-right">
                    <div class="category-list dropdown">
                        <button type="button" class="btns dropdown-toggle" data-toggle="dropdown">
                            Show <span class="fa fa-chevron-down"></span>
                        </button>
                        <!-- <ul class="dropdown-menu">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul> -->
                    </div>
                </div>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <div class="th">
                                    ID
                                    <!-- <span ng-click="pagedata.sort = '_id';pagedata.sortnum=1;search();" class="fa fa-angle-up" ng-class="{active: (pagedata.sort == '_id && pagedata.sortnum == 1)}"></span>
                         <span ng-click="pagedata.sort = '_id';pagedata.sortnum=-1;search();" class="fa fa-angle-down" ng-class="{active: (pagedata.sort == '_id' && pagedata.sortnum == -1)}"></span> -->
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Name
                                    <!-- <span ng-click="pagedata.sort = 'name';pagedata.sortnum=1;search();" class="fa fa-angle-up" ng-class="{active: (pagedata.sort == 'name' && pagedata.sortnum == 1)}"></span>
                         <span ng-click="pagedata.sort = 'name';pagedata.sortnum=-1;search();" class="fa fa-angle-down" ng-class="{active: (pagedata.sort == 'name' && pagedata.sortnum == -1)}"></span> -->
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Contact
                                    <!-- <span ng-click="pagedata.sort = 'email';pagedata.sortnum=1;search();" class="fa fa-angle-up" ng-class="{active: (pagedata.sort == 'email' && pagedata.sortnum == 1)}"></span>
                         <span ng-click="pagedata.sort = 'email' ;pagedata.sortnum=-1;search();" class="fa fa-angle-down" ng-class="{active: (pagedata.sort == 'email' && pagedata.sortnum == -1)}"></span> -->
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Action
                                    <!-- <span ng-click="pagedata.sort = 'email';pagedata.sortnum=1;search();" class="fa fa-angle-up" ng-class="{active: (pagedata.sort == 'email' && pagedata.sortnum == 1)}"></span>
                         <span ng-click="pagedata.sort = 'email' ;pagedata.sortnum=-1;search();" class="fa fa-angle-down" ng-class="{active: (pagedata.sort == 'email' && pagedata.sortnum == -1)}"></span> -->
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox checkbox-custom">
                                    <input type="checkbox" id="check">
                                    <label for="check"><span></span></label>
                                </div>
                            </td>
                            <td>ASD145</td>
                            <td>
                                <span>Abhishek Kapoor</span>
                            </td>
                            <td>
                                <span>9899898989</span>
                            </td>

                            <td>
                                <a>
                                    <i class="fa fa-pencil-square-o" ui-sref="editemployee"></i>
                                </a>
                                <a>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="checkbox checkbox-custom">
                                  <input type="checkbox" id="check1">
                                  <label for="check1"><span></span></label>
                              </div>
                            </td>
                            <td>ASD145</td>
                            <td>
                                <span>Raj Shah</span>
                            </td>
                            <td>
                                <span>9899898989</span>
                            </td>

                            <td>
                                <a>
                                    <i class="fa fa-pencil-square-o" ui-sref="editemployee"></i>
                                </a>
                                <a>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="checkbox checkbox-custom">
                                  <input type="checkbox" id="check2">
                                  <label for="check2"><span></span></label>
                              </div>
                            </td>
                            <td>ASD145</td>
                            <td>
                                <span>Raj Shah</span>
                            </td>
                            <td>
                                <span>9899898989</span>
                            </td>

                            <td>
                                <a>
                                    <i class="fa fa-pencil-square-o" ui-sref="editemployee"></i>
                                </a>
                                <a>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <button class="btn btn1 btn-info pull-right" ui-sref="createemployee">
                    Create New Employee<i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <!-- <footer class="table-footer" ng-if="userdata.data.length>0">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
            Show
            <select ng-model="pagedata.limit" ng-change="search();">
              <option value="10" selected>10</option>
              <option value="12">12</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            entries per page
          </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination total-items="userdata.totalpages" ng-model="pagedata.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" ng-change="search();" items-per-page="pagedata.limit" ng-hide="userdata.totalpages==1"></uib-pagination>
                </div>
            </div>
        </footer> -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Schedule</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4 text-center">
                  <div class="calendar" style="display:inline-block; min-height:290px;">
                            <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                          </div>
            </div>
            <div class="col-md-8">
              <div class="heading">
                <h4>Thursday 23rd 2016</h4>
              </div>
              <div class="tableholder">
                <table class="table table-responsive">
                  <thead>
                       <tr>
                         <th>Time</th>
                         <th>Name</th>
                         <th>Meeting with</th>
                         <th>Status</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                           <td>3:00 PM
                             <p>Saturday</p>
                           </td>
                         <td>Sohan Gala</td>
                         <td>Mukesh jain</td>
                         <td class=pending>
                           <div class="stat-pending">
                           Deal Pending
                         </div>
                         </td>
                       </tr>
                       <tr>
                           <td>3:00 PM
                             <p>Saturday</p>
                           </td>
                         <td>Sohan Gala</td>
                         <td>Mukesh jain</td>
                         <td class="pending">
                           <div class="stat-pending">
                           Deal Pending
                         </div>
                         </td>
                       </tr>
                       <tr>
                           <td>3:00 PM
                             <p>Saturday</p>
                           </td>
                         <td>Sohan Gala</td>
                         <td>Mukesh jain</td>
                         <td class="done">
                           <div class="stat-done">
                           Deal Done
                         </div>
                         </td>
                       </tr>
                     </tbody>
                </table>
              </div>
            </div>
