<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/worker.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total builder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/broker.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total broker</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/employee.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total employee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                    <div class="imagecount inline-block">
                        <div class="img-count">
                            <img src="img/dashboard/crane.png" class="responsive" alt="">
                        </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total project</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/deal.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">deal closed</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/graph.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total gtv</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counts">
                  <div class="imagecount inline-block">
                      <div class="img-count">
                        <img src="img/dashboard/stats.png" class="responsive" alt="">
                    </div>
                    </div>
                    <div class="count-detail inline-block">
                        <h4>2563</h4>
                        <p class="text-uppercase">total lead</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">City</h3>
    </div>
    <div class="panel-body">
      <div class="addcity">
        <ul>
          <li>
            <div class="adddetails">
              <div class="img-city">
                <img src="img/dashboard/mumbai.png" class="img-responsive" alt="">
              </div>
              <h4 class="text-uppercase">Mumbai</h4>
              <img src="img/edit.png" class="editbtn img-responsive" alt="">
            </div>
          </li>
          <li>
            <div class="adddetails">
              <div class="img-city">
                <img src="img/dashboard/pune.png" class="img-responsive" alt="">
              </div>
              <h4 class="text-uppercase">Pune</h4>

              <img src="img/edit.png" class="editbtn img-responsive" alt="">
            </div>
          </li>
          <li>
            <div class="adddetail">
              <a ng-click="openaddcity();">
                <div class="addpost">
                  <div class="img-plus">
                    <img src="img/dashboard/plus.png" class="img-responsive" alt="">
                  </div>
                  <h4 class="text-uppercase">Add City</h4>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
<!-- <section>
    <div class="container-fluid">
        <div class="white-bg">
            <h4>Dashboard</h4>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total builder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total brooker</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total employee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total project</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">deal closed</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total gtv</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counts">
                        <div class="img-count inline-block">
                            <img src="img/dashboard/.png" class="responsive" alt="">
                        </div>
                        <div class="count-detail inline-block">
                            <h4>2563</h4>
                            <p class="text-uppercase">total lead</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-bg">
            <h4>city</h4>
            <hr>
            <div class="row">

            </div>
        </div>
    </div>
</section> -->
