<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Property</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
<div class="col-border">
<div class="row">
<div class="col-md-3">
    <form role="form" class="bf-form">
      <label>Add Cover Image</label>
      <div class="in-image">
          <div class="city-imgs">
              <!-- <img alt="" /> -->
          </div>
          <upload-image no-view></upload-image>
      </div>
</div>
<div class="col-md-9">
    <form role="form" class="bf-form">
      <label>Add Cover Image</label>
      <div class="in-image">
          <div class="city-imgs">
              <!-- <img alt="" /> -->
          </div>
          <upload-image no-view></upload-image>
      </div>
</div>
</div>
</div>

            </div>
            <div class="col-md-4 match-property">
                <div class="wraper">

                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Payment &amp PriceDetail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad btn-highlight">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>

          </div>
        </div>
