<div class="panel panel-default table-dynamic">
<div class="panel-heading">
    <h3 class="panel-title">Lead Log Detail</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-8">
            <div class="head">
                <p>Jan 26, 2016</p>
            </div>
            <div class="log">
                <p class="padd">Chintan Shah</p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="padd time">
                            <span>10:40 AM</span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="padd event">
                            <h4>Had a Meeting With Sohan</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptate aspernatur repellat dolor debitis dolorum, ducimus, odio asperiores, excepturi id maxime voluptatem vel atque quae quisquam aliquam eaque harum alias.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="padd time">
                            <span>10:40 AM</span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="padd event">
                            <h4>Had a Meeting With Sohan</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptate aspernatur repellat dolor debitis dolorum, ducimus, odio asperiores, excepturi id maxime voluptatem vel atque quae quisquam aliquam eaque harum alias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="calendar" style="display:inline-block; min-height:290px;">
                <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
            </div>
        </div>
    </div>
</div>
</div>
