<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Property</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form class="bf-form">
                    <div class="log basicproperties">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id">Wing</label>
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id1">Area</label>
                                    <input type="text" class="form-control" id="id1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id2">Carpet</label>
                                    <input type="text" class="form-control" id="id2">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id3">Number Of Bathroom</label>
                                    <input type="text" class="form-control" id="id3">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Configuration</label>
                                    <div class="custom-select">
                                        <select class="form-control">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Number Of Parking</label>
                                    <div class="custom-select">
                                        <select class="form-control">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id">Vastu Direction</label>
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id">Last Update</label>
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cust-check inline-block ccheck">
                                    <input type="checkbox" id="test1" />
                                    <label for="test1">IOD</label>
                                </div>
                                <div class="cust-check inline-block ccheck">
                                    <input type="checkbox" id="test2" checked="checked" />
                                    <label for="test2">CC</label>
                                </div>
                                <div class="cust-check inline-block ccheck">
                                    <input type="checkbox" id="test3" checked="checked" />
                                    <label for="test3">OC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="head">
                        <p>Other Silent Feature</p>
                    </div>
                    <div class="log basicproperties">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="btn btn4 btn-primary">Save</button>
                        <button class="btn btn4 btn-primary" ui-sref="createproperty">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 match-property">
                <div class="wraper">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad btn-highlight">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="paymentdetail">
                                    Payment &amp Price Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="ameneties">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="images">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
