<div class="panel panel-default table-dynamic">
    <div class="panel-heading">
        <h3 class="panel-title">Create Property</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form role="form" class="bf-form">
                    <div class="price-range">
                        <label>Price range</label>
                        <div class="property-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id">Min</label>
                                        <input type="text" class="form-control" id="id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Max</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <label for="">Broker Type</label> -->
                                        <div class="custom-select">
                                            <select class="form-control">
                                                <option></option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <label for="">Broker Type</label> -->
                                        <div class="custom-select">
                                            <select class="form-control">
                                                <option></option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bank-approval">
                        <label>Bank Approval</label>
                        <div class="property-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id">Bank Name</label>
                                        <input type="text" class="form-control" id="id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn1 btn-info pull-right">
                                        Add More<i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="up-image">
                                        <div class="city-imgs city-size">
                                            <!-- <img alt="" /> -->
                                        </div>
                                        <upload-image no-view></upload-image>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="bank-icon">
                                    <div class="bank-name inline-block">
                                        <img src="img/bank.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="bank-name inline-block">
                                        <img src="img/bank.png" alt="" class="img-responsive">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="payment-info">

                        <label>Payment Information</label>
                        <div class="property-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id">Payment Confert</label>
                                        <input type="text" class="form-control" id="id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                      <label>Show Price on Website</label>
                                    </p>

                                      <p class="cust-check1 inline-block">
                                      <input type="radio" id="test23" value="1" class="hi" name="radio" />
                                      <label for="test23">Yes</label>
                                  </p>
                                  <p class="cust-check1 inline-block">
                                      <input type="radio" id="test24" value="1" class="hi" name="radio" />
                                      <label for="test24">No</label>
                                  </p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">


                                    <div class="ups-image">
                                        <label>Payment schedule Form</label>
                                        <div class="city-imgs city-sizes">

                                            <!-- <img alt="" /> -->
                                        </div>
                                        <upload-image no-view></upload-image>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="ups-image">
                                        <label>Brochure</label>
                                        <div class="city-imgs city-sizes">

                                            <!-- <img alt="" /> -->
                                        </div>
                                        <upload-image no-view></upload-image>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="btn btn4 btn-primary">Save</button>
                            <button class="btn btn4 btn-primary" ui-sref="createproperty">Cancel</button>
                        </div>
                    </div>

            </div>
            <div class="col-md-5 match-property">
                <div class="wraper">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="moredetail">
                                    More Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad btn-highlight">
                                    Payment &amp Price Detail<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="ameneties">
                                    Ameneties<i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn1 btn-info btn-pad" ui-sref="images">
                                    Images<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
