<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <div class="img-upload">
                <div class="city-img upl-admin">
                    <!-- <img src="img/mutha.jpg" alt="" class="img-responsive"> -->
                </div>
                <upload-image no-view></upload-image>
            </div>
        </div>
        <div class="col-md-7">
            <div class="city">
                <form action="">
                    <div class="cityspace">
                        <label for="example1">
                            City Name
                        </label>
                        <input type="text" id="example1" class="form-control" name="name">
                    </div>
                    <button class="btn btn-primary btn-space">Save</button>
                </form>
                <div class="close1">
                    <img src="img/dashboard/close.png" class="img-responsive" alt="Close">
                </div>
            </div>
        </div>
    </div>
</div>
