<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <div class="img-upload">
            <div class="city-img upl-admin">

            </div>
            <upload-image no-view></upload-image>
          </div>
        </div>
        <div class="col-md-7">
            <div class="city">
                <form action="">
                    <div class="cityspace">
                        <label for="example1">
                            City Name
                        </label>
                        <input type="text" id="example1" class="form-control" name="name">
                    </div>
                    <button class="btn btn-primary btn-space">Save</button>
                </form>
                <div class="close1">
                    <img src="img/dashboard/close.png" class="img-responsive" alt="Close">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="property-offer">
  <div class="property-head">
    <h3 class="panel-title ">Create Property</h3>
  </div>

  <hr class="underline">

<div class="offer-content">
  <div class="offer">
      <h4>Rohan Gada Closed 1.3 Cr</h4>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nisi atque ipsa reiciendis reprehenderit. Vero non omnis, totam adipisci minus maiores iste explicabo quisquam nesciunt magnam, aliquam odit placeat impedit?</p>
          <div class="offer-para">
            <span><strong>20% Payment Date: </strong>Jan 20,2016</span>
      </div>
</div>

  </div>
  <div class="close1 close-pos">
      <img src="img/dashboard/close.png" class="img-responsive" alt="Close">
  </div>
  </div>
